
$color-one: #00AEEF;
$color-two: #ffffff;
$color-three: #333333;
$color-four: #707070;



// HOVER COLORS 

$hover-color-one: #00AEEF;
$hover-color-two: #ffffff;
$hover-color-three: #333333;
$hover-color-four: #707070;